.bg-light {
    background-color: #91AAB4 !important;
}

.nav-link {
    color: white !important;
    text-align: center !important;
}

.active .nav-link{
    background-color: white !important;
    color: #193441 !important;
}

.navbar-light .navbar-brand {
    color: white !important;
}

.list {
    margin: 20px 0 100px 0;
    margin-bottom: 100px;
}

.page-header {
    margin: 30px 0 20px 0;
}


body {
    font-family: 'Arvo';
    font-size: 16px;
    background: #f3f3f3;
    margin: 0px;
    height: 100%;
}

#app {
    padding: 20px 100px 0px 50px;
    margin-bottom: -110px;
    min-height: 100%;
}

#app:after {
    content:"";
    display: block;
}

/* List */

ul {
    list-style: none;
}

.list-item {
    background: #fff;
    width: 100%;
    min-height: 80px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    display: flex;
    align-items: center;
}

.list-item-header {
    background: #91AAB4;
    width: 100%;
    min-height: 80px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    display: flex;
    align-items: center;
    color: white;
}

.delete {
    display: none;
    margin: 0 10px;
}

li:hover .delete {
    display: block;
}

label {
    width: 400px;
}

.completed {
    text-decoration: line-through;
}

/* Form */

input[type=checkbox] {
    transform: scale(1.5);
    margin-right: 10px;
}

input[type=text] {
    font-size: 1em;
}

button {
    font-family: 'Arvo';
    font-size: 1em;
}

/* Controls */

.controls {
    margin: 20px 0 0 40px;
}

.form-item {
    margin: 15px;
}

.sport {
    height: 40px;
    width: 40px;
    margin: 0 30px;
}


.footer, #app:after {
    height: 110px;
}

.team-name {
    font-size: 20px;
    margin-left: 20px;
}

.right-more {
    margin-left:50px;
}

footer {
   background-color: #3E606F;
   color: #91AAB4;
   padding: 20px;
   text-align: center;
   font-family: 'Roboto', sans-serif;
   position: fixed;
   bottom: 0;
   width: 100%;
}

footer a {
    color: #CBDBD7;
    font-family: 'Roboto', sans-serif;
}

footer a:hover {
    color: #FCFFF5;;
}

.color-div {
    height: 50px;
    width: 150px;
    margin: -10px 10px;
}

.color-div-head {
    height: 50px;
    width: 150px;
}