<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./../css/teams.css"/>
    <title>Team Creator</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="./../index.html">Our Town Sports!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="./../index.html">Create a Team <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="teams.html">Team List</a>
          </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </nav>

    <div id="app" class="col-xs-12 offset-xl-2 col-xl-8">
      <h1 class="page-header">Team List</h1>
      <!-- <p v-show="activeTeams.length === 0">You are done with all your tasks! Good job!</p> -->

      <div class="controls">
      	<!-- <button v-on:click="showAll()">Show All</button>
      	<button v-on:click="showActive()">Show Active</button>
      	<button v-on:click="showCompleted()">Show Completed</button>
      	<button v-on:click="deleteCompleted()">Delete Completed</button>
        <br/><br/> -->
        <button v-on:click="sortByName()">Sort by Team Name</button>
        <button v-on:click="sortByMascot()">Sort by Mascot</button>
      </div>
      <ul class="list">

        <li class="list-item-header">

          <label class="team-name">Team Name</label>
          <div class="team-name">Team Color 1</div>
          <div class="team-name">Team Color 2</div>
          <div class="team-name ">Sport Type</div>

        </li>

      	<li v-for="team in filteredTeams" draggable="true" v-on:dragstart="dragTeam(team)" v-on:dragover.prevent v-on:drop="dropTeam(team)" class="list-item">
      	  <!-- <img v-on:click="move(team,'up')" class="arrow" src="img/up.png">
          <img v-on:click="move(team,'down')" class="arrow" src="img/down.png"> -->
          <!-- <input type="checkbox" v-model="team.completed" v-on:click="completeTeam(team)"/> -->
          <label class="team-name">{{ team.teamName }} ({{team.mascot}})</label>
          <!-- <img class="sport" :src="team.logo"> -->
          <div class="color-div" :style="{ 'background-color': team.color1 }"></div>
          <div class="color-div" :style="{ 'background-color': team.color2 }"></div>
          <img class="sport" :src="team.sport">
          <button v-on:click="deleteTeam(team)" class="delete">X</button>
      	</li>

      </ul>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js" integrity="sha256-pU9euBaEcVl8Gtg+FRYCtin2vKLN8sx5/4npZDmY2VA=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="./../js/teams.js"></script>
    <script>
      
    </script>


    <div class="footer">
      <footer>
        <p>Copyright &copy; 2018</p>
        <p>Github Repository - <a href="https://github.com/tanlenon/team-creator-list">Creative Project #4 - tlenon</a></p>
      </footer> 
    </div>

  </body>
  
</html>
